{
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": [
    "prettier",
    "prettier/react",
    "airbnb",
    "airbnb/hooks"
  ],
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "rules": {
    "max-len": [2, 120],
    "class-methods-use-this": "off",
    "react/prefer-stateless-function": "off",
    "react/prop-types": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
