---
layout: default
graphic: 
  url: http://files.holderdeord.no/images/stortingssalen.jpg
  caption: "Illustrasjonsfoto: Stortingssalen"
---

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <div class="post-byline">
      {% include byline.html date=post.date authors=post.authors %}
    </div>

    <div class="post-content">
      {{ post.excerpt }} <a href="{{ post.url }}">Les mer</a>
    </div>


  </article>
  {% endfor %}
</div>

{% include archive.html offset=site.paginate %}
