<head>
  <meta charset="UTF-8">
  <link href="http://gmpg.org/xfn/11" rel="profile">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Open graph and twitter card -->
  <meta property="fb:app_id" content="504447209668308" />

  {% if page.title %}
    <title>{{ page.title }} &middot; {{ site.title }}</title>
    <meta content="{{ page.title }}" property="og:title">
    <meta content="{{ page.title }}" name="twitter:title">
  {% else %}
    <title>{{ site.title }}</title>
    <meta content="{{ site.title }}" property="og:title">
    <meta content="{{ site.title }}" name="twitter:title">
  {% endif %}

  <meta content="{{ site.title }}" property="og:site_name">

  {% if page.excerpt %}
    <meta content="{{ page.excerpt | strip_html | strip_newlines | xml_escape }}" name="description">
    <meta content="{{ page.excerpt | strip_html | strip_newlines | xml_escape }}" property="og:description">
    <meta content="{{ page.excerpt | strip_html | strip_newlines | xml_escape }}" name="twitter:description">
  {% elsif page.description %}
    <meta content="{{ page.description | strip_newlines }}" name="description">
    <meta content="{{ page.description | strip_newlines }}" property="og:description">
    <meta content="{{ page.description | strip_newlines }}" name="twitter:description">
  {% else %}
    <meta content="{{ site.description | strip_newlines | strip_html }}" name="description">
    <meta content="{{ site.description | strip_newlines | strip_html }}" property="og:description">
    <meta content="{{ site.description | strip_newlines | strip_html }}" name="twitter:description">
  {% endif %}

  {% if page.authors %}
     <meta content="{{ page.authors | array_to_sentence_string }}" name="author">
  {% else %}
    <meta content="Holder de ord" name="author">
  {% endif %}

  <meta content="@holderdeord" name="twitter:site">
  <meta content="@holderdeord" name="twitter:creator">

  {% if page.title %}
    <meta content="article" property="og:type">
  {% else %}
    <meta content="website" property="og:type">
  {% endif %}

  {% if page.twitter_card %}
    <meta name="twitter:card" content="{{ page.twitter_card }}">
  {% else %}
    <meta name="twitter:card" content="summary">
  {% endif %}

  <meta name="twitter:widgets:theme" content="light">
  <meta name="twitter:widgets:link-color" content="#333">
  <meta name="twitter:widgets:border-color" content="#b8bfcc">

  {% if page.url %}
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    <meta content="{{ site.url }}{{ page.url }}" name="twitter:url">
  {% endif %}

  {% if page.date %}
    <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
  {% endif %}

  {% if page.graphic %}
    <meta property="og:image" content="{{ page.graphic.url }}">
    <meta name="twitter:image:src" content="{{ page.graphic.url }}">
    <meta name="twitter:image" content="{{ page.graphic.url }}">
  {% else if page.thumbnail %}
    <meta property="og:image" content="{{ page.thumbnail }}">
    <meta name="twitter:image:src" content="{{ page.thumbnail }}">
    <meta name="twitter:image" content="{{ page.thumbnail }}">
  {% else %}
    <meta property="og:image" content="{{ site.url }}/images/logo.jpg">
    <meta name="twitter:image:src" content="{{ site.url }}/images/logo.jpg">
    <meta name="twitter:image" content="{{ site.url }}/images/logo.jpg">
  {% endif %}

  {% if page.tags %}{% for tag in page.tags %}
    <meta property="article:tag" content="{{ tag }}">
  {% endfor %}
  {% endif %}

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/hdo.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/syntax.css">

  {% if page.scripts contains 'c3' %}
    <link rel="stylesheet" href="http://files.holderdeord.no/code/c3js/c3-0.4.10-rc5/c3.min.css">
    <style>.c3-tooltip th { color: #111; }</style>
  {% endif %}

  {% if page.scripts contains 'cal-heatmap' %}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />
  {% endif %}

  <!-- Icons -->
  <link rel="shortcut icon" href="{{ site.baseurl }}public/favicon.ico">

  <!-- RSS, canonical and sitemap -->
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}atom.xml">
  <link href="/sitemap.xml" rel="sitemap" title="Sitemap" type="application/xml">
  <link href="{{ site.url }}{{ page.url }}" rel="canonical">
</head>
