$highlight-color: #eed30d;

.page-header {
  padding: 1rem 2rem;
  display: flex;
  background-color: white;

  @media screen and (min-width: 768px) {
    margin-bottom: 2rem;
  }

  &__logo {
    svg {
      width: 5rem;
      height: auto;

      @media screen and (min-width: 768px) {
        width: 10rem;
      }
    }
  }

  &__title {
    flex-grow: 4;
    text-align: center;
    padding-left: 2rem;
    margin-top: .4rem;

    @media screen and (min-width: 768px) {
      margin-top: 0;
    }

    h1 {
      font-size: 1.5rem;
      font-weight: 400;
      margin: 0;

      @media screen and (min-width: 768px) {
        font-size: 2rem;
        margin-top: 1rem;
      }
    }

    &__subtitle {
      font-weight: 300;
      display: none;

      @media screen and (min-width: 768px) {
        font-size: 1rem;
        display: inline-block;
      }
    }
  }

  &__menu {
    width: 5rem;
    margin-top: .5rem;

    @media screen and (min-width: 768px) {
      width: 10rem;
      margin-top: 1.5rem;
    }
  }
}

.main-menu {
  font-size: 1rem;
  text-align: right;

  svg {
    width: 30px;
    height: 30px;
  }

  button {
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
  }

  &__trigger.hidden {
    display: none;
  }

  &__modal-close {
    margin-top: .5rem;

    @media screen and (min-width: 768px) {
      margin-top: 1.5rem;
    }
  }

  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, .97);
    padding: 1rem 2rem;
    z-index: 1;
    overflow-y: auto;

      &.hidden {
      display: none;
    }
  }

  &__nav-wrap {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: left;
    margin-top: -50px;

    @media screen and (min-width: 768px) {
      display: flex;
      width: 55vw;
      min-width: 740px;
    }
  }

  &__nav {
    flex-grow: 1;

    @media screen and (min-width: 768px) {
      margin: 0 2rem;
      height: 100%;
    }
  }

  .nav {
    list-style: none;
    padding: 0;
  }

  .nav-item a {
    padding: 0.5rem;
    display: inline-block;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;

    &:hover {
      background-color: $highlight-color;
      color: rgba(0, 0, 0, 1);

    }
  }

  &__nav-social {
    padding: 0.5rem 0.5rem 0 0.5rem !important;

    span {
      display: inline-block;
      position: relative;
      top: -9px;
    }
  }
}
.hdo-nav-title {
}

.our-services-title {
  margin-bottom: 1.5rem;
}

.other-services {
  a {
    text-decoration: none;
  }

  .service {
    filter: grayscale(0.4);
    transition: all 0.3s ease;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);

    h3 {
      color: rgba(0, 0, 0, 0.6);
    }

    &__img {
      background-repeat: no-repeat;
      background-size: cover;
      height: 136px;
      background-position: 50% 50%;
    }

    &:hover {
      filter: none;
      background-color: $highlight-color;
      color: rgba(0, 0, 0, 1);

      h3 {
        color: rgba(0, 0, 0, 1);
      }
    }
    &__description {
      font-weight: 300;
    }
  }
}

.hdo-card {
  background-color: #fff;
  box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  margin-bottom: 1rem;

  .hdo-card-header {
    background-color: #fcfcfc;
    margin-left: 0;
    margin-right: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 1px rgba(0, 0, 0, 0.12);

    &.top-border {
      border-top: 1px solid #ddd;
    }

    &.bottom-border {
      border-bottom: 1px solid #ddd;
    }
  }

  .hdo-card-content {
    padding: 1rem;
  }
}
