<!DOCTYPE html>
<html lang="no">

  {% include head.html %}

  <body>

    <header class="masthead">
      <div class="container">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}" title="Home">{{ site.title }}</a>
          {% if page.title %}
            <small>{{ page.title }}</small>
          {% endif %}
        </h3>
      </div>
    </header>

    <!--
    <figure class="maingraphic">
      <img src="blog-header.jpg" alt="Illustrasjonsfoto: Stortingssalen.">
      <figcaption>Illustrasjonsfoto: Stortingssalen.</figcaption>
    </figure>
    -->

    <div class="container content">

      <main>
        {{ content }}
      </main>

    </div>

    {% include footer.html %}
    {% include scripts.html %}

    {% if site.github.environment %}
      {% include analytics.html %}
    {% endif %}

  </body>
</html>
