<!DOCTYPE html>
<html lang="no">

  {% include head.html %}

  <body>

    <header class="masthead">
      <div class="container">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}" title="Home">{{ site.title }}</a>
          <small>{{ site.tagline }}</small>
        </h3>
      </div>
    </header>

    <div class="container content">

      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <small><a href="https://holderdeord.no" alt="Holder de ord">Holderdeord.no</a> <a href="https://twitter.com/holderdeord/" alt="Holder de ord på Twitter">@holderdeord</a></small>
      </footer>
    </div>

  </body>
</html>
